:root{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;


  --color-blue: #00bcd4;
  --color-green: #147a44;
  --color-white: #fafafa;
  --color-orange: #f49b75;
  --color-black: #fafafa;

}
body {
  background-color: var(--color-orange);
}
main{
display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 1em 2em; 
  
}