:root{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;

  --color-primary: #00bcd4;
  --color-secondary: #fafafa;
  --color-tertiary: #fafafa;
  --color-quaternary: #fafafa;
  --color-quinary: #fafafa;

}

main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}